{{#isFile}}bytes{{/isFile}}{{^isFile}}{{#isBinary}}bytes{{/isBinary}}{{^isBinary}}{{#isModel}}m.{{{dataType}}}{{/isModel}}{{#isUuid}}UUID{{/isUuid}}{{#isListContainer}}List[{{#items}}{{>_dataTypeApi}}{{/items}}]{{/isListContainer}}{{^isModel}}{{^isUuid}}{{^isListContainer}}{{{dataType}}}{{/isListContainer}}{{/isUuid}}{{/isModel}}{{/isBinary}}{{/isFile}}