{{#returnType}}{{#isResponseFile}}IO[Any]{{/isResponseFile}}{{^isResponseFile}}{{#isResponseBinary}}IO[Any]{{/isResponseBinary}}{{^isResponseBinary}}{{^returnTypeIsPrimitive}}m.{{/returnTypeIsPrimitive}}{{{returnBaseType}}}{{/isResponseBinary}}{{/isResponseFile}}{{/returnType}}{{^returnType}}None{{/returnType}}