{{#returnType}}{{#isAnyType}}Any{{/isAnyType}}{{^isAnyType}}{{#isResponseFile}}IO[Any]{{/isResponseFile}}{{^isResponseFile}}{{#isResponseBinary}}IO[Any]{{/isResponseBinary}}{{^isResponseBinary}}{{^returnTypeIsPrimitive}}m.{{/returnTypeIsPrimitive}}{{{returnBaseType}}}{{/isResponseBinary}}{{/isResponseFile}}{{/isAnyType}}{{/returnType}}{{^returnType}}None{{/returnType}}