{{#returnType}}{{#isResponseFile}}IO[bytes]{{/isResponseFile}}{{^isResponseFile}}{{#isResponseBinary}}IO[bytes]{{/isResponseBinary}}{{^isResponseBinary}}{{^returnTypeIsPrimitive}}m.{{/returnTypeIsPrimitive}}{{{returnBaseType}}}{{/isResponseBinary}}{{/isResponseFile}}{{/returnType}}{{^returnType}}None{{/returnType}}