from datetime import date, datetime, timedelta
from typing import Optional, List, Dict
from typing import Any  # noqa
from typing_extensions import Literal
from uuid import UUID
from pydantic import BaseModel, Field

{{#models}}
{{#model}}

{{#allowableValues}}
from enum import Enum

class {{classname}}(str, Enum):
{{#enumVars}}
    {{name}} = {{{value}}}{{^-last}}
{{/-last}}
{{/enumVars}}
{{/allowableValues}}

{{^allowableValues}}
class {{classname}}(CamelModel):
{{#vars}}
{{#isEnum}}
    {{name}}: "Literal[{{#allowableValues}}{{#values}}'{{{this}}}'{{^-last}}, {{/-last}}{{/values}}{{/allowableValues}}]" = Field({{#required}}...{{/required}}{{^required}}None{{/required}}, alias="{{baseName}}")
{{/isEnum}}
{{^isEnum}}
    {{name}}: "{{^required}}{{^defaultValue}}Optional[{{/defaultValue}}{{/required}}{{>_dataTypeModel}}{{^required}}{{^defaultValue}}]{{/defaultValue}}{{/required}}" = Field({{#required}}...{{/required}}{{^required}}{{#defaultValue}}{{defaultValue}}{{/defaultValue}}{{^defaultValue}}None{{/defaultValue}}{{/required}}, alias="{{baseName}}")
{{/isEnum}}
{{/vars}}
{{/allowableValues}}
{{/model}}
{{/models}}

{{#models}}
{{#model}}
{{^allowableValues}}
{{classname}}.update_forward_refs()
{{/allowableValues}}
{{/model}}
{{/models}}